html,
body {
  height: 100%;
  font-family: 'Montserrat Variable', sans-serif;
}

:root {
  --gap: 2em;

  color-scheme: dark;
  --color-base: #1e1e2e;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --mantle: #181825;
  --rosewater: #f5e0dc;
  --color-text: #cdd6f4;
}

/* taken from https://github.com/catppuccin */
/* catppuccin latte */
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --color-base: #eff1f5;
    --blue: #1e66f5;
    --lavender: #7287fd;
    --mantle: #e6e9ef;
    --rosewater: #dc8a78;
    --color-text: #4c4f69;
  }
}

[color-scheme='light'] {
  color-scheme: light;
  --color-base: #eff1f5;
  --blue: #1e66f5;
  --lavender: #7287fd;
  --mantle: #e6e9ef;
  --rosewater: #dc8a78;
  --color-text: #4c4f69;
}

/* catppuccin mocha */
/*
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-base: #1e1e2e;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --mantle: #181825;
    --rosewater: #f5e0dc;
    --color-text: #cdd6f4;
  }
}
*/

[color-scheme='dark'] {
  color-scheme: dark;
  --color-base: #1e1e2e;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --mantle: #181825;
  --rosewater: #f5e0dc;
  --color-text: #cdd6f4;
}

/* taken from https://tailwindcss.com/docs/container */
@media (min-width: 640px) {
  :root {
    --max-width: 640px;
  }
}

@media (min-width: 768px) {
  :root {
    --max-width: 720px;
  }
}

@media (min-width: 1024px) {
  :root {
    --max-width: 1024px;
  }
}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}

html {
  background: var(--color-base);
  color: var(--color-text);
  margin: 0 auto;
  max-width: var(--max-width);
}